@model IEnumerable<CSGO_match_result_prediction_курсовая_практика_.Models.MatchInfo>
@{
    int counter = 0;
    var itemList = Model.ToList();
    int pageItemsCount = 10;
}
<!--<div id="upcoming" class="block">
    <div class="block_heading">
        <i></i>БЛИЖАЙШИЕ МАТЧИ<div class="search_match only_desktop"><input id="upcoming_search" type="text" placeholder="Поиск..."><a href="#" class="clear_search_upcoming"></a></div>
        <div class="navi">
            <a href="#" class="btn gray prev small"></a><a href="#" data-page="1" class="dot active"></a><a href="#" data-page="2" class="dot"></a><a href="#" data-page="3" class="dot"></a><a href="#" data-page="4" class="dot"></a><a href="#" data-page="5" class="dot"></a><a href="#" data-page="6" class="dot"></a><a href="#" data-page="7" class="dot"></a><a href="#" data-page="8" class="dot"></a><a href="#" data-page="9" class="dot"></a><a href="#" data-page="10" class="dot"></a><a href="#" class="btn gray next small"></a>
        </div>
    </div>
    <div class="block_content">
        <div class="page active_page images_active">-->
<div class="page active_page images_active" style="width:10%;">
    @for (int i = 0; i < pageItemsCount && i < itemList.Count(); i++)
    {
        counter++;
        var startTimeFormatted = itemList[i].StartTime.Date == DateTime.Today ? itemList[i].StartTime.ToString("HH:mm:ss") : itemList[i].StartTime.ToString("dd.MM.yyyy");


        var team_predicted = itemList[i].Prediction.Id == itemList[i].TeamsInfo.ToList()[0].Id ? "bet_1" : "bet_2";


        <div class="event csgo_event @team_predicted" data-app_id="730" data-id="95601">
            <div class="event_cont">
                <a href="/Match/TeamDetails/@itemList[i].TeamsInfo.ToList()[0].Id" data-raw_id="684" class="left m_open">
                    <div class="team_logo">
                        <img alt="@itemList[i].TeamsInfo.ToList()[0].Name" class=""
                             src="@itemList[i].TeamsInfo.ToList()[0].LogoUrl">
                    </div>
                    <span class="team_name">@itemList[i].TeamsInfo.ToList()[0].Name</span>
                    <!--<span class="sum odds_icon">2.182</span> <span class="percent_sum">
                        41<i class="rrpercent"></i>
                    </span>-->
                </a>
                <div class="center">
                    <span class="event_name">@itemList[i].EventName</span>
                    <span class="event_type">@itemList[i].MatchFormat</span>
                    <span class="timer timer_active"
                          data-start="05/13/2021 17:30:00">@startTimeFormatted</span>
                        <span class="event_map">@itemList[i].MatchFormat</span>
                    </div>
                    <a href="/Match/TeamDetails/@itemList[i].TeamsInfo.ToList()[1].Id" data-raw_id="737" class="right m_open">
                        <div class="team_logo">
                            <img alt="@itemList[i].TeamsInfo.ToList()[1].Name" class=""
                                 src="@itemList[i].TeamsInfo.ToList()[1].LogoUrl">
                        </div>
                        <span class="team_name">@itemList[i].TeamsInfo.ToList()[1].Name</span>
                        <!--<span class="sum odds_icon">1.590</span> <span class="percent_sum">
                            59<i class="rrpercent"></i>
                        </span>-->
                    </a>
                </div>
            </div>

        }
</div>
@for (int i = pageItemsCount; i < itemList.Count(); i += pageItemsCount)
{
    <div class="page" style="width:10%;">
        @for (int j = i; j < i+pageItemsCount && j<itemList.Count(); j++)
        {
            var startTimeFormatted = itemList[j].StartTime.Date == DateTime.Today ? itemList[j].StartTime.ToString("HH:mm:ss") : itemList[j].StartTime.ToString("dd.MM.yyyy");


            var team_predicted = itemList[j].Prediction.Id == itemList[j].TeamsInfo.ToList()[0].Id ? "bet_1" : "bet_2";


            <div class="event csgo_event @team_predicted" data-app_id="730" data-id="95601">
                <div class="event_cont">
                    <a href="/Match/TeamDetails/@itemList[j].TeamsInfo.ToList()[0].Id" data-raw_id="684" class="left m_open">
                        <div class="team_logo">
                            <img alt="@itemList[j].TeamsInfo.ToList()[0].Name" class=""
                                 src="@itemList[j].TeamsInfo.ToList()[0].LogoUrl">
                        </div>
                        <span class="team_name">@itemList[j].TeamsInfo.ToList()[0].Name</span>
                        <!--<span class="sum odds_icon">2.182</span> <span class="percent_sum">
                            41<i class="rrpercent"></i>
                        </span>-->
                    </a>
                    <div class="center">
                        <span class="event_name">@itemList[j].EventName</span>
                        <span class="event_type">@itemList[j].MatchFormat</span>
                        <span class="timer timer_active"
                              data-start="05/13/2021 17:30:00">@startTimeFormatted</span>
                            <span class="event_map">@itemList[j].MatchFormat</span>
                        </div>
                        <a href="/Match/TeamDetails/@itemList[j].TeamsInfo.ToList()[1].Id" data-raw_id="737" class="right m_open">
                            <div class="team_logo">
                                <img alt="@itemList[j].TeamsInfo.ToList()[1].Name" class=""
                                     src="@itemList[j].TeamsInfo.ToList()[1].LogoUrl">
                            </div>
                            <span class="team_name">@itemList[j].TeamsInfo.ToList()[1].Name</span>
                            <!--<span class="sum odds_icon">1.590</span> <span class="percent_sum">
                                59<i class="rrpercent"></i>
                            </span>-->
                        </a>
                    </div>
                </div>
            }
    </div>
}

<div class="clearfix"></div>
<!--</div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", ready);
    function setPrediction() {

    }
</script>
            -->
